
  .centered {
    position: relative;
    width: 150px;
    height: 150px;
    left: 50%;
    top: 90px;
    margin: -100px 0 0 -150px;
    background: #9D8E8E;
  }

  .postable {
      position: relative;
      top: 100px
  }

  .centerit {
    position: relative;
    left: 30%;
}